[Unit]
Description=Check IP and send email if on foreign network
# Wait until the network is up and has an IP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/check_ip_no_auth.py
User=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
